.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c3e50;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendar-days {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

.day:last-child {
    border-right: none;
}

.calendar-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.booked {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.date {
    width: calc(100% / 7);
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.date:hover {
    background-color: #f4f4f4;
}

.date.selected {
    background-color: #34495e;
    color: white;
    border-radius: 5px; /* Для круглого выделения */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.calendar-submit {
    text-align: center; /* Центрирование кнопки */
    margin-top: 20px; /* Отступ сверху */
}

#submit-dates {
    background-color: #34495e; /* Синий фон */
    color: #ffffff; /* Белый текст */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор-указатель */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные эффекты */
}

#submit-dates:active {
    background-color: #506d92; /* Более темный синий при нажатии */
}