.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.news-item {
    background-color: white;
    padding: 20px;
    border-top: 2px solid #2c3e50;
    border-bottom: 2px solid #2c3e50;
    width: 80%;
    margin: 10px;
    text-align: left;
}
.news-item h3 {
    font-size: 36px;
}
.news-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}
.news-item a {
    color: #666;
    font-size: 12px;
    text-decoration: none;
}
.news-item a:hover {
    text-decoration: underline;
}