<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8"> <!-- Убедитесь, что здесь установлена кодировка UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/dropMenu.css">
    <link rel="stylesheet" href="/css/reg.css">
    <link rel="icon" type="image/png" href="/icon/ic.png">
    <title>Добавление апартаментов</title>
</head>
<body>
<header>
    <nav>
        <box>
            <a href="/"><img src="/icon/ic.png" alt="Logo" id="logo"></a>
            <ul>
                <li><a href="/property">Недвижимость</a></li>
            </ul>
        </box>
        <box>
            <ul>
                <li th:if="${not showLogout}">
                    <a href="/login">Войти</a>
                </li>
                <li class="dropdown" th:if="${showLogout}">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <p th:text="${name}"/>
                        <img src="/icon/iconsArrow.png" alt="arrow" id="arrow">
                    </a>
                    <div class="dropdown-menu">
                        <a href="/login">Сменить аккаунт</a>
                        <a href="/logout">Выйти</a>
                    </div>
                </li>
            </ul>
        </box>
    </nav>
</header>
<main>
    <h1>
        Эта страница только для администратора
    </h1>
    <form action="/addProperty" method="post">
        <div class="form-group">
            <label for="name">Название апартаментов:</label>
            <input type="text" id="name" name="name" placeholder="Введите название" required>
            <label class="addLine" th:if="${error == null && isPost}">Апартаменты добавились</label>
            <label class="errorLine" th:if="${error != null}" th:text="${error}"></label>
        </div>
        <button type="submit">Добавить</button>
    </form>
</main>
<footer class="container">
    <p>&copy; 2024 Система управления арендой недвижимости</p>
</footer>
</body>
</html>