<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <!-- Убедитесь, что здесь установлена кодировка UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/home.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather&family=Roboto:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jost:wght@300&family=Merriweather&family=Nanum+Pen+Script&family=Roboto:wght@300&family=Sunflower:wght@300&display=swap');
    </style>
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>

<footer id="footer">
    <a id="About"></a>
    <div class="container1">
        <div class="partFoot">
            <h3>About us</h3>
            <span></span>
            <p>
                We..
            </p>

        </div>
        <div class="partFoot">
            <h3>Contact</h3>
            <span></span>
            <p>
                IKBO-13-22,
                Pashkin V.P.
            </p>
            <p>
                <a href="tel:+79871234567">+7 987 123-45-67</a>
            </p>
            <a href="mailto:examle@mail.ru">example@mail.ru</a>
        </div>
    </div>
    <div class="partFoot2">
        © New Website
    </div>
</footer>
</body>
</html>