<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8"> <!-- Убедитесь, что здесь установлена кодировка UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/dropMenu.css">
    <link rel="icon" type="image/png" href="/icon/ic.png">
    <title>Домашняя страница</title>
</head>
<body>
<header>
    <nav>
        <box>
            <a href="/"><img src="/icon/ic.png" alt="Logo" id="logo"></a>
            <ul>
                <li><a href="/property">Недвижимость</a></li>
                <li><a href="/news">Новости</a></li>
                <li th:if="${ADMIN}">
                    <a href="/addProperty">Добавить недвижимость</a>
                </li>
            </ul>
        </box>
        <box>
            <ul>
                <li th:if="${not showLogout}">
                    <a href="/login">Войти</a>
                </li>
                <li class="dropdown" th:if="${showLogout}">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <p th:text="${name}"/>
                        <img src="/icon/iconsArrow.png" alt="arrow" id="arrow">
                    </a>
                    <div class="dropdown-menu">
                        <a href="/login">Сменить аккаунт</a>
                        <a href="/logout">Выйти</a>
                    </div>
                </li>
            </ul>
        </box>
    </nav>
</header>

<main>

</main>

<footer class="container">
    <p>&copy; 2024 Система управления арендой недвижимости</p>
</footer>

</body>
<script src="/js/menu.js"></script>
</html>