<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="/css/dropMenu.css">
    <title>Документ</title>
</head>
<body>
<header>
    <nav>
        <box>
            <a href="/"><img src="/icon/ic.png" alt="Logo" id="logo"></a>
            <ul>
                <li><a href="/property">Недвижимость</a></li>
                <li th:if="${ADMIN}">
                    <a href="/addProperty">Добавить недвижимость</a>
                </li>
            </ul>
        </box>
        <box>
            <ul>
                <li th:if="${not showLogout}">
                    <a href="/login">Войти</a>
                </li>
                <li class="dropdown" th:if="${showLogout}">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <p th:text="${name}"/>
                        <img src="/icon/iconsArrow.png" alt="arrow" id="arrow">
                    </a>
                    <div class="dropdown-menu">
                        <a href="/login">Сменить аккаунт</a>
                        <a href="/logout">Выйти</a>
                    </div>
                </li>
            </ul>
        </box>
    </nav>
</header>


<main>
    <section id="home">
        <h1 th:text="${property.name}"></h1>
    </section>
    <section class="section-box">
        <p>Цена: </p>
        <p th:text="${property.cost}"></p>
        <p>Описание: </p>
        <p th:text="${property.description}"></p>
    </section>
    <div class="calendar">
        <div class="calendar-header">
            <button class="prev-month" onclick="changeMonth(-1)">&#10094;</button>
            <h2 class="month-year"></h2>
            <button class="next-month" onclick="changeMonth(1)">&#10095;</button>
        </div>

        <div class="calendar-days">
            <div class="day">Пн</div>
            <div class="day">Вт</div>
            <div class="day">Ср</div>
            <div class="day">Чт</div>
            <div class="day">Пт</div>
            <div class="day">Сб</div>
            <div class="day">Вс</div>
        </div>
        <div class="calendar-dates"></div>
    </div>
    <div class="calendar-submit">
        <button id="submit-dates" onclick="submitDates()">Забронировать даты</button>
    </div>
</main>

<footer class="container">
    <p>&copy; 2024 Система управления арендой недвижимости</p>
</footer>

</body>
<script src="/js/menu.js"></script>
<script src="/js/calendar.js"></script>
</html>