<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/dropMenu.css">
    <link rel="stylesheet" href="/css/map.css">
    <script src="https://api-maps.yandex.ru/v3/?apikey=c5d15e5b-59a5-4dc0-8436-6ebac21ad6d1&lang=ru_RU"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yandex/ymaps3-default-ui-theme@latest/dist/esm/index.css">

    <title>Недвижимость</title>
</head>
<body>
<header>
    <nav>
        <box>
            <a href="/"><img src="/icon/ic.png" alt="Logo" id="logo"></a>
            <ul>
                <li><a href="/property">Недвижимость</a></li>
                <li th:if="${ADMIN}">
                    <a href="/addProperty">Добавить недвижимость</a>
                </li>
            </ul>
        </box>
        <box>
            <ul>
                <li th:if="${not showLogout}">
                    <a href="/login">Войти</a>
                </li>
                <li class="dropdown" th:if="${showLogout}">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <p th:text="${name}"/>
                        <img src="/icon/iconsArrow.png" alt="arrow" id="arrow">
                    </a>
                    <div class="dropdown-menu">
                        <a href="/login">Сменить аккаунт</a>
                        <a href="/logout">Выйти</a>
                    </div>
                </li>
            </ul>
        </box>
    </nav>
</header>

<main>

    <section id="home">
        <h1>Тут вы найдете недвижимость!</h1>
    </section>
    <div id="map"></div>
    <table border="1">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="property : ${properties}">
            <td th:text="${property.id}"></td>
            <td>
                <a th:href="@{/property/{name}_{id}(id=${property.id}, name=${property.name})}" th:text="${property.name}"></a>
            </td>
        </tr>
        </tbody>
    </table>

</main>

<footer>
    <p>&copy; 2024 Система управления арендой недвижимости</p>
</footer>

</body>
<script src="/js/menu.js"></script>
<script type="module" src="/js/yMaps.js"></script>
</html>
